html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

th.tittle-one {
    background-color: #0070C0;
    color: white;
    vertical-align: middle;
}

input.in-text {
    border-radius: 10px;
    text-align: center;
    width: 90%;
}

table.content-data {
    vertical-align: middle;
    text-align: center;
}