@{
    ViewData["Title"] = "Home Page";
}

<div class="div-info-cultivo">
    <div class="table-responsive">
        <table class="table text-center content-data">
            <thead>
                <tr>
                    <th colspan="4" class="tittle-one">CULTIVO SALMONELLA / LISTERIA</th>
                </tr>
                <tr>
                    <th class="tittle-one"></th>
                    <th class="tittle-one">CULTIVO</th>
                    <th class="tittle-one">PRECIO POR CULTIVO</th>
                    <th class="tittle-one">TOTAL COSTO MES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="tittle-one" scope="row">CULTIVO LISTERIA</th>
                    <td><input class="in-text only-numbers-in" type="number" min="1" value="1" /></td>
                    <td>$ 0</td>
                    <td>$ 0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">CULTIVO SALMONELA</th>
                    <td><input class="in-text only-numbers-in" type="number" min="1" value="1" /></td>
                    <td>$ 0</td>
                    <td>$ 0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table text-center content-data">
            <thead>
                <tr>
                    <th class="tittle-one"></th>
                    <th colspan="2" class="tittle-one">LISTERIA</th>
                    <th colspan="2" class="tittle-one">SALMONELA</th>
                </tr>
                <tr>
                    <th class="tittle-one"></th>
                    <th class="tittle-one">BACT</th>
                    <th class="tittle-one">AUX</th>
                    <th class="tittle-one">BACT</th>
                    <th class="tittle-one">AUX</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="tittle-one" scope="row">Tiem. Dispon. Diario. Minutos</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">Resto Tiem. Disponible</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">Tiempo utilizado</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive">
        <table class="table text-center content-data">
            <tbody>
                <tr>
                    <th class="tittle-one" scope="row">MEDIOS EFICIENTES LISTERIA</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">MEDIOS NO EFICIENTES LISTERIA</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">MEDIOS EFICIENTES SALMONELLA</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="tittle-one" scope="row">MEDIOS NO EFICIENTES SALMONELLA</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive">
        <table class="table text-center content-data">
            <tbody>
                <tr>
                    <td>Volumen muerto Preparacion Listeria</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Volumen muerto Preparacion  Salmonella</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Valor total de desperdicio</th>
                    <td></td>
                    <td></td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="div-desc-total-test">

</div>