<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Epidemiology</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Epidemiology.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Epidemiology</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="tabs">
                    <li>
                        <a href="#"><span class="fa fa-bacteria"></span><span class="tab-text">Información de cultivo</span></a>
                        <ul class="menu-vertical">
                            <li><a href="#tab1"><span class="fa fa-bacterium"></span><span class="tab-text">Convencional</span></a></li>
                            <li><a href="#tab2"><span class="fa fa-bacterium"></span><span class="tab-text">PCR</span></a></li>

                        </ul>
                    </li>
                    <li><a href="#tab3"><span class="fa fa-home"></span><span class="tab-text">Información Medio de cultivo</span></a></li>
                    <li><a href="#tab4"><span class="fa fa-home"></span><span class="tab-text">Talento Humano por cultivo</span></a></li>
                    <li><a href="#tab5"><span class="fa fa-home"></span><span class="tab-text">Actividades</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Epidemiology - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
